[submodule "Juce"]
	path = Juce
url=https://github.com/pierreguillot/JUCE.git
[submodule "VST"]
	path = VST
	url = https://pierreguillot@github.com/steinbergmedia/vst3sdk.git
[submodule "libpd"]
	path = libpd
	url = https://github.com/pierreguillot/libpd.git
[submodule "Dependencies/ConcurrentQueue"]
	path = Dependencies/ConcurrentQueue
	url = https://github.com/pierreguillot/concurrentqueue.git
[submodule "Dependencies/ReaderwriterQueue"]
	path = Dependencies/ReaderwriterQueue
	url = https://github.com/pierreguillot/readerwriterqueue.git
[submodule "Dependencies/Vst"]
	path = Dependencies/Vst
	url = https://github.com/pierreguillot/vst3sdk.git
