[submodule "ThirdParty/Juce"]
	path = ThirdParty/Juce
	url = https://pierreguillot@github.com/julianstorer/JUCE.git
[submodule "ThirdParty/PureData"]
	path = ThirdParty/PureData
	url = https://pierreguillot@github.com/pure-data/pure-data.git
