# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pd_darwin


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Xcode
*.xcuserstate
*.xcuserdatad

# Juce & ThirdParty
/Builds/MacOSX/build/
/Builds/LinuxMakefile/build/
