language: cpp
dist: xenial
sudo: required
notifications:
  email: false
git:
  submodules: true
  depth: 3

matrix:
  include:

  - os: linux
    compiler: gcc
    env: release=CamomileLinux64
    before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libfreetype6-dev alsa libasound2-dev
    # for pluginval
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo add-apt-repository -y ppa:webkit-team/ppa
    - sudo apt-get -qq update
    - sudo apt-get install -y libwebkit2gtk-4.0-37 libwebkit2gtk-4.0-dev libstdc++6
    script:
    - cd Dependencies/LibPdBuild/LinuxMakefile && cmake .. -DCMAKE_BUILD_TYPE=Release && cd ../../..
    - make
    after_success:
    - cd $TRAVIS_BUILD_DIR
    - ./Plugins/camomile -d ./Plugins/Examples -o ./Plugins/Builds
    - curl -L https://github.com/Tracktion/pluginval/releases/download/latest_release/pluginval_Linux.zip -o ./pluginval.zip
    - unzip ./pluginval.zip
    - ./pluginval --strictnessLevel 10 --validate ./Plugins/Builds/ > /dev/null
    before_deploy:
    - rm -r Plugins/Builds
    - rm Plugins/Camomile.a
    - rm Plugins/CamomileFx.a
    - cp README.md Plugins/README.md
    - cp ChangeLog.md Plugins/ChangeLog.md
    - cp LICENSE Plugins/LICENSE.txt
    - mv Plugins Camomile
    - zip -r $release.zip Camomile

  - os: osx
    compiler: clang++
    env: release=CamomileMacOS
    script:
    - cd Dependencies/LibPdBuild/MacOSX && cmake .. -GXcode && cd ../../..
    - xcodebuild -workspace Camomile.xcworkspace -scheme Camomile-libpd -configuration Release | egrep '^(/.+:[0-9+:[0-9]+:.(error|warning):|fatal|===)' -
    - make -C LV2/lv2_file_generator
    after_success:
    - cd $TRAVIS_BUILD_DIR
    - ./Plugins/camomile -d ./Plugins/Examples -o ./Plugins/Builds
    - curl -L https://github.com/Tracktion/pluginval/releases/download/latest_release/pluginval_macOS.zip -o ./pluginval.zip
    - tar zxvf ./pluginval.zip
    - ./pluginval.app/Contents/MacOS/pluginval --strictnessLevel 10 --validate ./Plugins/Builds/ > /dev/null
    before_deploy:
    - rm -r Plugins/Builds
    - rm Plugins/libCamomile.a
    - rm Plugins/libCamomileFx.a
    - cp README.md Plugins/README.md
    - cp ChangeLog.md Plugins/ChangeLog.md
    - cp LICENSE Plugins/LICENSE.txt
    - mv Plugins Camomile
    - zip -r $release.zip Camomile

deploy:
  provider: releases
  skip_cleanup: true
  prerelease: true
  overwrite: true
  draft: true
  name: ${TRAVIS_TAG}
  tag_name: ${TRAVIS_TAG}
  api_key:
    secure: KhjoDswm7tGKjBCsUFFi1u9Dwl8WXSiPcDD+WhwibpgkTBzPuWyngJBL6VtHHPNi/0wAhvlg7ng4IgtBMW5vMI9q1YoOOgd2smADYY+bsKNEcDNblQZhXYf0A5MQ77fYjiNKDC08psmDIrnL2NTxn3Aqwsnz8vH8lSYX/r1eo9+kD+U9gyGT9Xv4qk1lGok4/A6ACx/Pd18m9Lc4X+XLaK8ZFrRemCRgP3dHIMiObPqSkS6oJCG/DH0C3gBF29bMJHJKMxUeKNBrMv5xQqJY4fpuiUILHgk2hE6CFNj9mFt0huR6IW/2NOuuvy00O0AeTj7WeH7oQEneHIeZPwXwyKvV1ihI73qCYdh8RJ9R/eg06x3ppLM+uBlgmBcSKfEPw0M1FkBg7PgVBTNQ3UTQpjiwCButcyxN04Yec9e3I3pt16R4nqdMl49W+mXd5XHbmedj9t1D53G8fMnsF8zQf6LaiC/SHbMq1B5odGxNVS7+XkKWG8vlXrn8ksBKK0WGMsdF+kquMIZ99OYMlALNntv9e5J50WTeUz6jRcTuVaDU9o/6CDEDp8VC9N+UkQF3IDw4p/jS34681R1wgsme9XcHjbvpWwVbfVc/ymqaRucYA1+Tdh0ilrrGymgygmJjK0aRtYfS3HaIhGC0iZk6lo1wJ1AQMxE99hwnBRH9+Sg=
  file: $release.zip
  on:
    repo: pierreguillot/Camomile
    tags: true
