
environment:
   matrix:
      - CONFIGURATION: Release
        PLATFORM: Win32
        TARGET: Release32
        MSYS: msys
      - CONFIGURATION: Release
        PLATFORM: x64
        TARGET: Release64
        MSYS: msys64

os: Visual Studio 2015

install:
    - git submodule update --init --recursive

build_script:
    - 'c:\%MSYS%\usr\bin\bash make -C libpd/ UTIL=true EXTRA=true ADDITIONAL_CFLAGS="-DPDINSTANCE=1 -DPDTHREADS=1"'
#- msbuild %APPVEYOR_BUILD_FOLDER%\Builds\VisualStudio2015\Camomile.vcxproj /property:Configuration=%TARGET%

notifications:

  - provider: Email
    on_build_status_changed: false
