
environment:
   matrix:
      - PLATFORM: x64
        COMPILER: "Visual Studio 14 2015 Win64"
        RELEASE: Release
        ZIPFILE: CamomileWindows64
      - PLATFORM: Win32
        COMPILER: "Visual Studio 14 2015"
        RELEASE: Release32
        ZIPFILE: CamomileWindows32

os: Visual Studio 2015

install:
    - git submodule update --init --recursive
    # Install pthread-win32
    - git clone -q https://github.com/GerHobbelt/pthread-win32.git Dependencies\PthreadWin32
build_script:
    # Compile pthread-win32
    - mkdir %APPVEYOR_BUILD_FOLDER%\build
    - cd %APPVEYOR_BUILD_FOLDER%\Dependencies\PthreadWin32
    - sed -i 's/4820;4668;4255;/4820;4668;4255;4711;4100;4312;4127;4296;4456;4619;4310;4311;/' pthread_lib.2015.vcxproj
    - sed -i 's/MultiThreadedDLL/MultiThreaded/' pthread_lib.2015.vcxproj
    - sed -i 's/MultiThreadedDebugDLL/MultiThreadedDebug/' pthread_lib.2015.vcxproj
    - msbuild pthread.2015.sln /t:pthread_lib /nologo /verbosity:quiet /p:Configuration=Release /p:Platform=%PLATFORM% /p:OutDir=lib/
    # Copy pthread-win32 headers and library in pure-data directory
    - copy pthread.h %APPVEYOR_BUILD_FOLDER%\Dependencies\LibPd\pure-data\src\pthread.h
    - copy sched.h %APPVEYOR_BUILD_FOLDER%\Dependencies\LibPd\pure-data\src\sched.h
    - copy semaphore.h %APPVEYOR_BUILD_FOLDER%\Dependencies\LibPd\pure-data\src\semaphore.h
    - copy lib\pthread_lib.lib %APPVEYOR_BUILD_FOLDER%\build\pthread.lib
    # Compile libpd
    - cd %APPVEYOR_BUILD_FOLDER%\build
    - cmake -G "%COMPILER%" ..
    - cmake --build . --target ALL_BUILD --config Release
    - cmake --build . --target install

after_build:
    - cd %APPVEYOR_BUILD_FOLDER%
    - copy %APPVEYOR_BUILD_FOLDER%\Plugins\VST3\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Plugins\Camomile.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Plugins\VST3\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Plugins\CamomileFx.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Plugins\"Dynamic Library"\CamomileLV2.dll %APPVEYOR_BUILD_FOLDER%\Plugins\CamomileLV2.dll
    - copy %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\Plugins\README.md
    - copy %APPVEYOR_BUILD_FOLDER%\ChangeLog.md %APPVEYOR_BUILD_FOLDER%\Plugins\ChangeLog.md
    - copy %APPVEYOR_BUILD_FOLDER%\LICENSE %APPVEYOR_BUILD_FOLDER%\Plugins\LICENSE.txt
    - del %APPVEYOR_BUILD_FOLDER%\Plugins\camomile /Q
    - rmdir %APPVEYOR_BUILD_FOLDER%\Plugins\"Dynamic Library"\ /S /Q
    - rmdir %APPVEYOR_BUILD_FOLDER%\Plugins\"Shared Code"\ /S /Q
    - rmdir %APPVEYOR_BUILD_FOLDER%\Plugins\VST3\ /S /Q
    - rename %APPVEYOR_BUILD_FOLDER%\Plugins Camomile
    - 7z a %ZIPFILE%.zip %APPVEYOR_BUILD_FOLDER%\Camomile\
    - Xcopy %APPVEYOR_BUILD_FOLDER%\Camomile\Examples %APPVEYOR_BUILD_FOLDER%\Examples /E /I
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\AlmondOrgan\AlmondOrgan.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\Bulgroz\Bulgroz.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\Castafiore\Castafiore.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\MiniMock\MiniMock.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\PdStal\PdStal.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\PdStalFx\PdStalFx.vst3
    - 7z a %ZIPFILE%-examples.zip %APPVEYOR_BUILD_FOLDER%\Examples\

artifacts:
  - path: '*.zip'

deploy:
  provider: GitHub
  prerelease: true
  overwrite: true
  draft: true
  auth_token:
    secure: FQkZgYP0Sdct7NPGZ1NgXLin1lO6VEoYUdGKcLAyAn7eqvSVi5UuivpKwtjU/kDD
  artifact: /.*\.zip/
  on:
    appveyor_repo_tag: true

notifications:

  - provider: Email
    on_build_status_changed: false
