
environment:
   matrix:
      - PLATFORM: x64
        COMPILER: "Visual Studio 14 2015 Win64"
        RELEASE: Release
        ZIPFILE: CamomileWindows64
      - PLATFORM: Win32
        COMPILER: "Visual Studio 14 2015"
        RELEASE: Release32
        ZIPFILE: CamomileWindows32

os: Visual Studio 2015

install:
    - git submodule update --init --recursive
build_script:
    - mkdir build && cd build
    - cmake -G "%COMPILER%" ..
    - cmake --build . --target ALL_BUILD --config Release
    - cmake --build . --target install

after_build:
    - cd %APPVEYOR_BUILD_FOLDER%
    - copy %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\Plugins\README.md
    - copy %APPVEYOR_BUILD_FOLDER%\ChangeLog.md %APPVEYOR_BUILD_FOLDER%\Plugins\ChangeLog.md
    - copy %APPVEYOR_BUILD_FOLDER%\LICENSE %APPVEYOR_BUILD_FOLDER%\Plugins\LICENSE.txt
    - del %APPVEYOR_BUILD_FOLDER%\Plugins\camomile /Q
    - rename %APPVEYOR_BUILD_FOLDER%\Plugins Camomile
    - 7z a %ZIPFILE%.zip %APPVEYOR_BUILD_FOLDER%\Camomile\
    - Xcopy %APPVEYOR_BUILD_FOLDER%\Camomile\Examples %APPVEYOR_BUILD_FOLDER%\Examples /E /I
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\AlmondOrgan\AlmondOrgan.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\Bulgroz\Bulgroz.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\Castafiore\Castafiore.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\MiniMock\MiniMock.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\Camomile.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\PdStal\PdStal.vst3
    - copy %APPVEYOR_BUILD_FOLDER%\Camomile\CamomileFx.vst3 %APPVEYOR_BUILD_FOLDER%\Examples\PdStalFx\PdStalFx.vst3
    - 7z a %ZIPFILE%-examples.zip %APPVEYOR_BUILD_FOLDER%\Examples\

artifacts:
  - path: '*.zip'

deploy:
  provider: GitHub
  prerelease: true
  overwrite: true
  draft: true
  auth_token:
    secure: FQkZgYP0Sdct7NPGZ1NgXLin1lO6VEoYUdGKcLAyAn7eqvSVi5UuivpKwtjU/kDD
  artifact: /.*\.zip/
  on:
    appveyor_repo_tag: true

notifications:

  - provider: Email
    on_build_status_changed: false
