
environment:
   matrix:
      - CONFIGURATION: Release
        PLATFORM: Win32
        TARGET: Release32
        MSYS: msys
      - CONFIGURATION: Release
        PLATFORM: x64
        TARGET: Release64
        MSYS: msys64

os: Visual Studio 2015

install:
    - git submodule update --init --recursive

build_script:
    - C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER; PATH=$PATH:/mingw64/bin:/mingw32/bin;  make -C libpd UTIL=true EXTRA=true"'
#ADDITIONAL_CFLAGS="-DPDINSTANCE=1 -DPDTHREADS=1"

notifications:

  - provider: Email
    on_build_status_changed: false
