<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.pierreguillot.camomile.camomileAUv3</string>
    <key>CFBundleName</key>
    <string>Camomile</string>
    <key>CFBundleDisplayName</key>
    <string>Camomile</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Pierre Guillot</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPrincipalClass</key>
      <string>CamomileAUFactoryAUv3</string>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.AudioUnit-UI</string>
      <key>NSExtensionAttributes</key>
      <dict>
        <key>AudioComponents</key>
        <array>
          <dict>
            <key>name</key>
            <string>pierreguillot: Camomile</string>
            <key>description</key>
            <string>Camomile</string>
            <key>factoryFunction</key>
            <string>CamomileAUFactoryAUv3</string>
            <key>manufacturer</key>
            <string>CICM</string>
            <key>type</key>
            <string>aumf</string>
            <key>subtype</key>
            <string>Kpq9</string>
            <key>version</key>
            <integer>256</integer>
            <key>sandboxSafe</key>
            <true/>
            <key>tags</key>
            <array>
              <string>Effects</string>
            </array>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
